$bg--light: #F0F0F0;
// $bg--card--light,
$text--light: #171717;
// $text--2--light,
$link-light: #35b70b;
// $hover--light,
// $border--light
$brand-light: #0d4b07;
$shadow-light: #A0A0A0;

$bg--dark: #272727;
// $bg--card--dark,
$text--dark: #EEE;
// $text--2--dark,
$link-dark: #21b313;
// $hover--dark,
// $border--dark
$brand-dark: #0d4b07;
$shadow-dark: #505050;