@import "themes";

nav{
    position: sticky;
    top: 0;

    font-size: 1rem;

    padding: 1rem;

    @include themed() {
        background-color: t($brand);
        box-shadow: .1em .1em t($shadow);
    }
}

nav div{
    display: inline;
}

nav a {
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: bold;
    @include themed(){
        color: $text--dark
    }
}