@import "colors";

$bg: 'bg';
$card-bg: 'card-bg';
$text: 'text';
$text-secondary: 'text-secondary';
$link: 'link';
$hover: 'hover';
$logo: 'logo';
$brand-blue: 'brand-blue';
$brand-red: 'brand-red';
$border: 'border';

$brand: "brand";
$shadow: "shadow";

$themes: (
        default: (
                bg: $bg--light,
                // card-bg: $bg--card--light,
                text: $text--light,
                // text-secondary: $text--2--light,
                link: $link-light,
                // hover: $hover--light,
                // border: $border--light
                brand: $brand-light,
                shadow: $shadow-light
        ),
        dark: (
                bg: $bg--dark,
                // card-bg: $bg--card--dark,
                text: $text--dark,
                // text-secondary: $text--2--dark,
                link: $link-dark,
                // hover: $hover--dark,
                // border: $border--dark
                brand: $brand-dark,
                shadow: $shadow-dark
        ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}